name: Upload IPA

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-ipa-file
          path: myapp.ipa
